.AddRecette {
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
}

.AddRecette .p-button:disabled,
.AddRecette .p-button.p-disabled {
  background-color: #cccccc !important;
  color: #888888 !important;
  cursor: not-allowed !important;
  opacity: 0.7;
  border: 1px solid #bbbbbb !important;
}


@media screen and (max-width: 768px) {
  .AddRecette {
	display: none;
  }

}
