:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-base);
  transition: all 0.3s ease;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  background-color: var(--background-paper);
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  background-color: var(--background-paper);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--a-hover-color);
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: all 0.25s ease;
  text-align: center;
  color: var(--button-text);
}

button:hover, .p-button:hover {
  background-color: var(--button-hover-bg) !important;
  color: var(--button-hover-text);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Pour les très grands écrans (PC) */
@media (min-width: 1200px) {
  :root{
	--container-width: 1500px;
  }
  .wrapper {
	padding: 1rem 10rem;
  }
}

/* Pour les tablettes et petits écrans */
@media (min-width: 768px) and (max-width: 1199px) {
  :root{
	--container-width: 768px;
  }
  .wrapper {
	padding: 1rem 1.5rem;
  }
}

@media (max-width: 767px) {
  :root{
	--container-width: 100%;
  }
  .wrapper {
	padding: 0;
	margin-top: 4rem;
  }
}

/* Home page styles */
.Home {
  min-height: 85vh;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .Home {
	background-color: #00000000;
  }
}
