.LienUtiles{
  width: 100%;
}

.LienUtiles ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.lien-utiles a {
	color: var(--link-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

.lien-utiles a:hover {
	color: var(--link-color-hover);
	text-decoration: underline;
}