.EditRecette {
  padding: 16px;
  border: 1px solid var(--surface-border);
  margin: 10px;
}

.EditRecette .steps-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.EditRecette .step-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.EditRecette .step-container input {
  width: 100%;
}

